# Edited by hand to fix problems in isBounded

S3method(dual,gell)
S3method(ell3d,default)
S3method(ell3d,gell)
S3method(gell,default)
S3method(gell,gell)
S3method(isBounded,gell)
S3method(isFat,gell)
S3method(isFlat,gell)
S3method(isUnbounded,gell)
export(UD)
export(basis3d)
export(dual)
export(ell3d)
export(ellipsoid)
export(gell)
export(gmult)
export(isBounded)
export(isFat)
export(isFlat)
export(isUnbounded)
export(par3d.restore)
export(par3d.save)
export(signature)
export(bbox3d)
import(rgl)
